/* global css */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  font-family: "Libre Franklin", "Arial Narrow", Arial, sans-serif;
}

.conatiner {
  width: 85%;
  margin: auto;
}
.container1 {
  width: 80%;
  margin: auto;
}
.midle-card {
  margin: 0 5%;
}
/* start header css */
.header {
  position: fixed;
  top: 0;
  background: #120b0bc9;
  width: 100%;
  height: 70px;
  padding: 17px;
  z-index: 100;
}
.header .logo {
  width: 430px;
  overflow: hidden;
  float: left;
}
.header .imag-container {
  width: 93px;
  height: 29px;
  float: left;
  margin-right: 30px;
}
.header .imag-container img {
  width: 100%;
  height: 100%;
}
.header .search {
  position: relative;
  float: left;
}
.header .search i {
  font-size: 17px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 20px;
}
.header .search input {
  width: 250px;
  height: 35px;
  border: none;
  outline: none;
  font-size: 16px;
  padding: 0 50px;
  border-radius: 20px;
}

.header .nav {
  float: right;
  padding-top: 5px;
}
.header .nav ul {
  list-style: none;
}
.header .nav ul .list-item {
  display: inline;
  margin-right: 30px;
  position: relative;
}
.header .nav ul li::before {
  content: "";
  position: absolute;
  width: 0;
  height: 2px;
  background-color: #4cb0d1;
  bottom: -2px;
  left: 0;
  transition: 0.5s;
}
.header .nav ul li:hover::before {
  width: 100%;
}
.header .nav ul .list-item .item-a {
  text-decoration: none;
  color: #fff;
  font-size: 17px;
  font-weight: 600;
  text-transform: capitalize;
}
.header .dropdown {
  position: relative;
}
.header .sub-menu {
  position: absolute;
  top: 25px;
  left: -20px;
  width: 200px;
  border: 3px solid #4cb0d1;
  background-color: #fff;
  padding: 20px;
  border-top-left-radius: 40px;
  border-bottom-right-radius: 40px;
  visibility: hidden;
  transition: 0.2s;
}
.header .dropdown:hover .sub-menu {
  visibility: visible;
}
.header .sub-menu li {
  margin-bottom: 20px;
  position: relative;
}
.header .sub-menu li a {
  text-decoration: none;
  color: #000;
  font-size: 20px;
  font-weight: 600;
  text-transform: capitalize;
}
/* end header css */
/* start hero section css */
.hero-section {
  height: 90vh;
  width: 100%;
  position: relative;
}
.hero-section .overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
}
.hero-section .hero-img {
  width: 100%;
  height: 100%;
}
.hero-section .hero-img img {
  width: 100%;
  height: 100%;
}
.hero-section .hero-content {
  position: absolute;
  width: 100%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.hero-section .hero-content h1 {
  font-family: "Bebas Neue", sans-serif;
  font-size: 50px;
  font-weight: 900;
  color: #fff;
  margin-bottom: 20px;
  text-transform: uppercase;
  text-align: center;
}
.hero-section .hero-content p {
  font-size: 16px;
  font-weight: 700;
  color: #fff;
  text-align: center;
  margin-bottom: 20px;
  letter-spacing: 2px;
}
.hero-section .action {
  width: 100%;
  text-align: center;
}
.hero-section .action button {
  cursor: pointer;
  font-size: 20px;
  width: 200px;
  height: 60px;
  border: none;
  outline: none;
  background-color: #4cb0d1;
  color: #fff;
  border-radius: 30px;
}
.hero-section .action button:hover {
  opacity: 0.5;
}
.hero-section .action .btn1 {
  background-color: #fff;
  color: #000;
  margin-right: 20px;
}
/* end hero section */
/* start welcom to website */
.welcom-section {
  margin-top: 70px;
  margin-bottom: 170px;
}
.welcom-section .welcom-content {
  text-align: center;
}
.section-header {
  font-size: 35px;
  font-weight: 700;
  margin-bottom: 70px;
  text-align: center;
  position: relative;
  text-transform: capitalize;
}
.section-header::before {
  content: "";
  position: absolute;
  width: 7%;
  height: 4px;
  top: 55px;
  left: 50%;
  transform: translateX(-50%);
  background-color: #4cb0d1;
}
.cards {
  overflow: auto;
  width: 100%;
}
.welcom-section .card {
  position: relative;
  float: left;
  width: 30%;
  border: 1px solid #4cb0d1;
  padding: 20px;
  text-align: center;
  border-radius: 20px;
  overflow: hidden;
}

.welcom-section .card i {
  font-size: 30px;
  color: #4cb0d1;
  margin-bottom: 30px;
}
.welcom-section .card h3 {
  font-size: 20px;
  font-weight: 800;
  margin-bottom: 20px;
  transition: 0.3s;
}
.welcom-section .card:hover h3 {
  color: #4cb0d1;
}
.welcom-section .card p {
  font-size: 16px;
  font-weight: 700;
  transition: 0.3s;
  color: #5f5f5f;
  margin-bottom: 30px;
}
.welcom-section .card:hover p {
  color: #000;
}
.welcom-section .card a {
  font-size: 17px;
  font-weight: 700;
  color: #4cb0d1;
  text-decoration: none;
}
.welcom-section .card::before {
  content: "";
  position: absolute;
  width: 0;
  height: 0;
  top: 0;
  left: 0;
  transition: 0.5s;
  z-index: -1;
}
.welcom-section .card:hover::before {
  width: 100%;
  height: 100%;
  background-color: #4cb0d14f;
}
/* strat featured works */
.featured-works {
  background-color: #4cb0d129;
}
.featured-works .feature-content {
  padding: 50px 0;
}
.featured-works .galary {
  overflow: hidden;
  padding: 0 20px;
  width: fit-content;
  margin: auto;
  margin-bottom: 50px;
}
.featured-works .galary .galary-image-container {
  position: relative;
  float: left;
  width: 30%;
  height: 200px;
}
.featured-works .galary-image-container:hover .content {
  visibility: visible;
}
.featured-works .galary-image-container img {
  width: 100%;
  height: 100%;
}
.featured-works .galary-image-container .content {
  padding: 30px;
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #00000061;
  top: 0;
  left: 0;
  text-align: center;
  border-radius: 10px;
  z-index: 1;
  visibility: hidden;
}
.featured-works .galary-image-container .content h3 {
  font-size: 30px;
  font-weight: 700;
  text-transform: uppercase;
  color: #dbdbdb;
}
.featured-works .galary-image-container .content p {
  font-size: 20px;
  font-weight: 700;
  color: #fff;
  margin: 15px 0 20px;
}
.featured-works .galary-image-container .content .icons .icon {
  cursor: pointer;
  display: inline;
  padding: 7px 15px;
  background-color: #fff;
  margin: 0 5px;
  border-radius: 5px;
}
.featured-works .galary-image-container .content .icons i {
  font-size: 20px;
  color: #696969;
}

/* end featured works */
/* start what we offer */
.offers-section {
  margin-top: 70px;
  margin-bottom: 150px;
}
.offers-section .cards {
  margin-bottom: 50px;
}
.offers-section .card {
  position: relative;
  float: left;
  width: 30%;
  border: 1px solid #4cb0d1;
  padding: 20px;
  border-radius: 20px;
  overflow: hidden;
}

.offers-section .card .card-img {
  float: left;
  width: 40px;
  height: 40px;
  margin-right: 10px;
}
.offers-section .card img {
  width: 100%;
  height: 100%;
}
.offers-section .card .card-content {
  float: left;
  width: 80%;
}
.offers-section .card h3 {
  font-size: 20px;
  font-weight: 800;
  margin-bottom: 20px;
  transition: 0.3s;
}
.offers-section .card:hover h3 {
  color: #4cb0d1;
}
.offers-section .card p {
  font-size: 16px;
  font-weight: 700;
  transition: 0.3s;
  color: #5f5f5f;
  margin-bottom: 30px;
}
.offers-section .card:hover p {
  color: #000;
}
.offers-section .card a {
  font-size: 17px;
  font-weight: 700;
  color: #4cb0d1;
  text-decoration: none;
}
.offers-section .card::before {
  content: "";
  position: absolute;
  width: 0;
  height: 0;
  top: 0;
  left: 0;
  transition: 0.5s;
  z-index: -1;
}
.offers-section .card:hover::before {
  width: 100%;
  height: 100%;
  background-color: #4cb0d14f;
}
/* end what we offer */
/* start choose us */
.choose-us {
  margin-top: 70px;
  margin-bottom: 50px;
}
.choose-content {
  overflow: auto;
}
.choose-content .left-side {
  float: left;
  padding: 70px 0 0;
}
.choose-content .left-side h2 {
  font-size: 35px;
  font-weight: 700;
  margin-bottom: 50px;
  position: relative;
  text-transform: capitalize;
}
.choose-content .left-side h2::before {
  content: "";
  position: absolute;
  width: 15%;
  height: 4px;
  top: 55px;
  left: 0;
  background-color: #4cb0d1;
}
.choose-content .left-side p {
  font-size: 16px;
  font-weight: 700;
  margin-bottom: 30px;
  color: #999999;
  text-transform: capitalize;
}
.choose-content .left-side ul {
  list-style: none;
  padding: 0;
}
.choose-content .left-side ul li {
  font-size: 16px;
  font-weight: 700;
  color: #868686;
  margin-bottom: 20px;
  text-transform: capitalize;
}
.choose-content .left-side ul li i {
  color: #4cb0d1;
  margin-right: 10px;
}
.choose-content .right-side {
  float: right;
}
.choose-content .right-side .image-container {
  width: 350px;
  height: 400px;
}
.choose-content .right-side .image-container img {
  width: 100%;
  height: 100%;
}
.choose-content .right-side ul {
  list-style: none;
  overflow: auto;
  width: fit-content;
  margin: 10px auto 0;
}
.choose-content .right-side ul li {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  /* background-color: #4cb0d1; */
  float: left;
  margin-right: 15px;
}
.choose-content .right-side .first-li {
  background-color: #4cb0d1;
}
.choose-content .right-side .second-li {
  background-color: #999999;
}
.choose-content .right-side .second-li:hover {
  background-color: #4cb0d1;
}
/* end choose us */
/* start info  */
.info {
  margin-top: 70px;
  background-image: url("../images/info.png");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  height: 400px;
  position: relative;
}
.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}
.info .info-content {
  position: relative;
  z-index: 1;
  width: 100%;
  padding-top: 13%;
  overflow: auto;
}
.info .info-content .info-info {
  float: left;
  width: 25%;
  padding: 0 20px;
  text-align: center;
}
.info .info-content .info-info i {
  font-size: 35px;
  color: #4cb0d1;
  margin-bottom: 20px;
}
.info .info-content .info-info p {
  font-size: 17px;
  font-weight: 700;
  color: #fff;
  margin-bottom: 10px;
}

/* end info  */
/* start pricing section */
.pricing-section {
  margin-top: 90px;
  margin-bottom: 150px;
}
.pricing-section .cards {
  overflow: auto;
}
.pricing-section .card {
  position: relative;
  float: left;
  width: 30%;
  border: 1.5px solid #4cb0d1;
  padding: 30px 20px;
  border-radius: 15px;
  overflow: hidden;
  text-align: center;
  transition: 0.5s;
}
.pricing-section .card::before {
  content: "";
  position: absolute;
  background-color: #4cb0d14f;
  width: 100%;
  height: 0;
  top: 0;
  left: 0;
  transition: 0.5s;
  z-index: -1;
}
.pricing-section .card:hover {
  background-color: transparent;
  color: #000;
}
.pricing-section .card:hover .price {
  border: 2px solid #4cb0d1;
}
.pricing-section .card:hover::before {
  width: 100%;
  height: 100%;
}
.pricing-section .card h4 {
  font-size: 17px;
  font-weight: bold;
  margin-bottom: 20px;
  text-transform: capitalize;
}
.pricing-section .price {
  width: 90px;
  height: 90px;
  border-radius: 50%;
  border: 2px solid #4cb0d1;
  margin: auto;
  padding: 20px;
  margin-bottom: 20px;
}
.pricing-section .price .price-num {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 5px;
}
.pricing-section .price .price-per {
  font-size: 15px;
  font-weight: 600;
}
.pricing-section .card-text {
  font-weight: bold;
  margin-bottom: 20px;
  text-transform: capitalize;
}
.pricing-section .btn1 {
  border: 2px solid #4cb0d1;
  padding: 10px 70px;
  border-radius: 20px;
  cursor: pointer;
}
.pricing-section .midle-card {
  background-color: #4cb0d1;
  color: #fff;
}
.pricing-section .midle-card .price {
  border: 2px solid #fff;
}
/* end pricing section */
/* start testimonial section */
.what-our-clients {
  position: relative;
  background-image: url(../images/section-cover.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  padding: 60px 0;
}
.what-our-clients .overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}
.what-our-clients .client-container {
  position: relative;
  overflow: auto;
  z-index: 1;
}
.what-our-clients .client-idea {
  float: left;
  width: 40%;
  margin-left: 90px;
}
.what-our-clients .client-idea .client-card-header {
  overflow: auto;
}
.what-our-clients .client-idea .client-card-header .client-image-container {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  border: 2px solid #999999;
  padding: 2px;
  margin-bottom: 20px;
  float: left;
}
.what-our-clients .client-idea p {
  font-size: 17px;
  font-weight: 700;
  color: #fff;
  text-transform: capitalize;
}
.what-our-clients .client-idea .client-card-header img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
}
.what-our-clients .client-idea .client-card-header .client-card-info {
  float: left;
  padding: 40px;
  color: #fff;
}
.what-our-clients .client-idea .client-card-header .client-card-info h4 {
  font-size: 20px;
  font-weight: bold;
  color: #4cb0d1;
  text-transform: uppercase;
}
.what-our-clients .client-idea .client-card-header .client-card-info p {
  color: #999999;
}
/* end testimonial section */
/* start our packages */
.our-packages {
  margin-top: 120px;
  margin-bottom: 120px;
}
.our-packages .cards {
  overflow: auto;
}
.our-packages .card {
  position: relative;
  float: left;
  width: 30%;
  padding: 18px 14px;
  text-align: center;
  background-color: rgb(223, 221, 221);
  border-radius: 10px;
}
.our-packages .card::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 0;
  top: 0;
  left: 0;
  transition: 0.5s;
  background-color: #4cb0d14f;
}
.our-packages .card:hover::before {
  width: 100%;
  height: 100%;
}
.our-packages .img-container {
  width: 90%;
  margin: 0 auto;
  position: relative;
}
.our-packages .img-container img {
  width: 100%;
  display: block;
}
.our-packages .img-container .icons-div {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  visibility: hidden;
}
.our-packages .card:hover .img-container .icons-div {
  visibility: visible;
}
.our-packages .card:hover .img-container .icons-div a {
  display: block;
  width: 40px;
  height: 40px;
  background-color: #4cb0d1;
  color: #fff;
  margin-left: auto;
}
.our-packages .card:hover .img-container .icons-div a i {
  line-height: 40px;
}
.our-packages .card .package-info {
  margin-top: 20px;
}
.our-packages .card .package-info h4 {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 10px;
  color: #4cb0d1;
  text-transform: uppercase;
}
.our-packages .card .package-info p {
  font-size: 16px;
  font-weight: 700;
  color: #5f5f5f;
}
/* end our packages */
/* start news section */

.news-section .cards {
  overflow: auto;
}
.news-section .cards .news-card {
  position: relative;
  float: left;
  width: 30%;
  padding: 30px 20px;
  text-align: center;
  border: 1px solid #4cb0d1;
  border-radius: 10px;
  overflow: hidden;
}
.news-section .cards .news-card::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 0;
  top: 0;
  left: 0;
  transition: 0.5s;
  z-index: -1;
  background-color: black;
}
.news-section .cards .news-card:hover::before {
  width: 100%;
  height: 100%;
}
.news-section .cards .news-card .news-img {
  width: 250px;
  height: 250px;
  margin: 0 auto;
  border-radius: 10px;
  margin-bottom: 30px;
}
.news-section .cards .news-card .news-img img {
  width: 100%;
  height: 100%;
  border-radius: 10px;
}
.news-section .cards .news-card .news-content .social-media {
  width: fit-content;
  margin: 0 auto;
  margin-bottom: 10px;
}
.news-section .cards .news-card .news-content .social-media a {
  margin-right: 30px;
}
.news-section .cards .news-card .news-content h4 {
  font-size: 20px;
  font-weight: bold;
  color: #4cb0d1;
  margin-bottom: 20px;
}
.news-section .cards .news-card .news-content p {
  transition: 0.5s;
  font-size: 16px;
  font-weight: 700;
  color: #5f5f5f;
  margin-bottom: 20px;
}
.news-section .cards .news-card:hover p {
  color: #fff;
}
.news-section .cards .news-card .news-content a {
  font-size: 17px;
  font-weight: 700;
  color: #4cb0d1;
  text-decoration: none;
}
/* end news section */
/* start footer */
.footer {
  margin-top: 100px;
  background-color: #4cb0d14f;
}
.footer .footer-content {
  padding: 20px 0;
  text-align: center;
}
.footer .footer-content .footer-image {
  width: 250px;
  height: 200px;
  margin: 0 auto;
  border-radius: 10px;
  margin-bottom: 20px;
}
.footer .footer-content .footer-image img {
  width: 100%;
  height: 100%;
  border-radius: 10px;
}
.footer .footer-content .footer-links {
  margin-bottom: 10px;
}
.footer .footer-content .footer-links a {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: #42add14f;
  display: inline-block;
  color: #fff;
}
.footer .footer-content .footer-links a:hover {
  background-color: #42add1;
}
.footer .footer-content .footer-links a i {
  line-height: 50px;
  font-size: 20px;
}
.footer .footer-content .footer-copyright p {
  font-size: 14px;
  font-weight: 700;
  color: #5f5f5f;
}
/* end footer */
